<about>
    <h2>About</h2>
    <p>
        This website is generate with <a href="https://github.com/joelchu/generator-rtjs">generator-rtjs</a> and using <a href="http://tachyons.io/">Tachyons framework</a>.
    </p>
</about>
