<about>
    <h2>About</h2>
    <p>
        This website is generate with <a href="https://github.com/joelchu/generator-rtjs">generator-rtjs</a> and using <a href="https://v4-alpha.getbootstrap.com/">Bootstrap 4 framework</a>.
    </p>
</about>
